<!DOCTYPE html>
<html>
  <head>
    <title>Привет, Мир!</title>
  </head>
  <body>
    <section class="container">
      <h1>Привет, Мир!</h1>

      <%=body%>
      <%-body%>

    </section>
  </body>
</html>